<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <log4net>
        <appender name="JobAppender" type="log4net.Appender.RollingFileAppender">
            <file value="C:\EYSyncUtilityLog\Job.log"/> 
            <appendToFile value="true"/> 
            <rollingStyle value="Size"/> 
            <maxSizeRollBackups value="-1"/> 
            <maximumFileSize value="15MB"/> 
            <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
            </layout>
            </appender> 
            <logger name="Job">
                <level value="ALL"/> 
                <appender-ref ref="JobAppender"/> 
            </logger>
   </log4net>
  <appSettings>
    <add key="WorkgroupServerName" value="cm"/>
    <add key="WorkgroupServerPort" value="1137"/>
    <add key="DatabaseId" value="EY"/>
    <add key="SmtpServer" value="smtp3.hpe.com"/>
    <add key="FromAddress" value="CMADMIN@impso.com"/>
    <add key="ToAddress" value="cmondal@microfocus.com"/>
    <add key="SmtpPort" value="25"/>
    <add key="SecurityLevel" value="Unclassified"/>
    <add key="ClientAssociation" value="EY Clients"/>
    <add key="Client" value="Client"/>
    <add key="PrimaryName" value="Primary Name"/>
    <add key="EmployeeType" value="Employee Type"/>
    <add key="EYRank" value="EY Rank"/>
    <add key="Gender" value="Gender"/>
    <add key="ServiceLine" value="Service Line"/>
    <add key="SubServiceLine" value="Sub Service Line"/>
    <add key="OriginalHireDate" value="Original Hire Date"/>
    <add key="CompanySeniorityDate" value="Company Seniority Date"/>
    <add key="TerminationDate" value="Termination Date"/>
    <add key="GPN" value="Global Personnel Number (GPN)"/>
    <add key="LPN" value="Local Personnel Number (LPN)"/>
    <add key="EmplID" value="GHRS Employee ID"/>
    <add key="GUI" value="Global Unique Identifier (GUI)"/>
    <add key="PayGroup" value="Pay Group"/>
    <add key="CodeBlock" value="Code Block"/>
    <add key="CostCentre" value="Cost Centre"/>
    <add key="CompanyCode" value="Company Code"/>
    <add key="BusinessUnit" value="Business Unit"/>
    <add key="OrganisationalUnit" value="Organisational Unit"/>
    <add key="ManagementUnit" value="Management Unit"/>
    <add key="SubManagementUnit" value="Sub Management Unit"/>
    <add key="HRStatus" value="HR Status"/>
    <add key="RehireDate" value="Re-hire Date"/>
    <add key="DeptID" value="Department"/>
    <add key="GeographicCountry" value="Geographic Country"/>
    <add key="ClientID" value="Client ID"/>
    <add key="Partner1" value="Partner 1"/>
    <add key="Partner2" value="Partner 2"/>
    <add key="ClientStatus" value="Status"/>
    <add key="ClientRecord" value="Client"/>
    <add key="EmployeeRecord" value="Employee Record"/>
    <add key="PartnerRecord" value="Partner Record"/>
    <add key="ClientRecordPrefix" value="C-"/>
    <add key="EmployeeRecordPrefix" value="EMP-"/>
    <add key="PartnerRecordPrefix" value="PAR-"/>
  
  </appSettings>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=SQL;Initial Catalog=RMS_OCEA_Pro;Persist Security Info=True;User ID=sa;Password=Password@123"/>
  </connectionStrings>
</configuration>
